<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="formattedOutput" class="ru.otus.spring.service.QuestionFormatterServiceImpl"/>

    <bean id="questionDao" class="ru.otus.spring.dao.QuestionDaoCsv">
        <constructor-arg index="0" value="questions.csv"/>
    </bean>

    <bean id="questionService" class="ru.otus.spring.service.QuestionServiceImpl">
        <constructor-arg index="0" ref="questionDao"/>
    </bean>

    <bean id="ioService" class="ru.otus.spring.service.IOServiceImpl">
        <constructor-arg index="0" type="java.io.PrintStream" value="#{T(java.lang.System).out}"/>
    </bean>

    <bean id="runnerService" class="ru.otus.spring.service.RunnerServiceImpl">
        <constructor-arg index="0" ref="questionService"/>
        <constructor-arg index="1" ref="ioService"/>
        <constructor-arg index="2" ref="formattedOutput"/>
    </bean>

</beans>